<h1>Get the latest updates from Stories</h1>
<%= form_for :signup do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :firstname %> <br /> 

  <%= f.label :email, "Email Address" %>
  <%= f.text_field :email %> <br />

  <%= f.submit "Create account" %>

<% end %>
