<h1 class="text-primary">Get the latest updates from Stories</h1>
<div class="bottom5">
<%= form_for @signup do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :firstname %> <br /> 
  <%= f.label :email, "Email Address" %>
  <%= f.text_field :email %> <br />
  <%= f.submit "Create account" %>
<% end %>
</div>
<img src="https://images.unsplash.com/photo-1542359649-31e03cd4d909?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
